CallOut_Prototype/CallOut_CAD/CallOut_CAD/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="CallOut_CADServiceLib" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallOut_CADService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_CallOut_CADService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="CallOut_CADServiceLib" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_CallOut_CADService" type="i0:CallOut_CADService">
    <wsp:PolicyReference URI="#NetTcpBinding_CallOut_CADService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CADJoin">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/CADJoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CADLeave">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/CADLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatewayJoin">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/GatewayJoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatewayLeave">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/GatewayLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCADIncidentMsg">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/SendCADIncidentMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AckCADIncidentMsg">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/AckCADIncidentMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BroadcastIncidentCodingStatus">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/BroadcastIncidentCodingStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IncidentCodingStatusQuery">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/IncidentCodingStatusQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IncidentCodingStatusResponse">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/IncidentCodingStatusResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IncidentDispatched">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/IncidentDispatched" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RcvCADIncidentMsg">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/RcvCADIncidentMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCADIncidentAck">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/UpdateCADIncidentAck" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIncidentCodingStatus">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/UpdateIncidentCodingStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncidentCodingStatus">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/IncidentCodingStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RcvIncidentCodingStatusResponse">
      <soap12:operation soapAction="CallOut_CADServiceLib/CallOut_CADService/RcvIncidentCodingStatusResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallOut_CADService">
    <wsdl:port name="NetTcpBinding_CallOut_CADService" binding="tns:NetTcpBinding_CallOut_CADService">
      <soap12:address location="net.tcp://localhost:8002/CallOut_CADService/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8002/CallOut_CADService/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>