CallOut_ConsoleWPF/CallOut_ConsoleWPF/Service References/ServiceReference1/CallOut_CodingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CallOut_CodingServiceLib" elementFormDefault="qualified" targetNamespace="CallOut_CodingServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/CallOut_CodingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" />
  <xs:import schemaLocation="http://localhost:8080/CallOut_CodingService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStationStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="GetStationStatusResult" nillable="true" type="q1:ArrayOfStationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedConsole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedConsoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConnectedConsoleResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodingID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodingIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedConsoleNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedConsoleNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectedConsoleNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayJoinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayLeave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayLeaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsoleJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsoleJoinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsoleLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsoleLeaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TargetMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addressList" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingIncidentMsg" nillable="true" type="q4:CodingIncidentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AckCodingIncidentMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingAckMsg" nillable="true" type="q5:CodingAckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestConnStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyConnStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgDisplayedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="console" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingIncidentMsg" nillable="true" type="q6:CodingIncidentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsoleDisplayMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingIncidentMsg" nillable="true" type="q7:CodingIncidentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConnStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyConsoleNotConnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingIncidentMsg" nillable="true" type="q8:CodingIncidentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RcvCodingAckMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingAckMsg" nillable="true" type="q9:CodingAckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayRcvConnStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsoleRcvConnStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTargetTimeoutTimer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="console" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CallOut_CodingServiceLib.Class" minOccurs="0" name="codingIncidentMsg" nillable="true" type="q10:CodingIncidentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>