CallOut_Gateway/CallOut_Gateway/Service References/ServiceReference2/CallOut_CADServiceLib.Class.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DispatchedIncident">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmLevel" type="xs:int" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentLocation" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfUnits" nillable="true" type="tns:ArrayOfDispatchedUnit" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DispatchedIncident" nillable="true" type="tns:DispatchedIncident" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfDispatchedUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DispatchedUnit" nillable="true" type="tns:DispatchedUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDispatchedUnit" nillable="true" type="tns:ArrayOfDispatchedUnit" />
  <xs:complexType name="DispatchedUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DispatchedUnit" nillable="true" type="tns:DispatchedUnit" />
  <xs:complexType name="CADIncidentAck">
    <xs:sequence>
      <xs:element minOccurs="0" name="AckNo" type="xs:int" />
      <xs:element minOccurs="0" name="AckTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AckTotal" type="xs:int" />
      <xs:element minOccurs="0" name="AckTracking" nillable="true" type="tns:ArrayOfTracking" />
      <xs:element minOccurs="0" name="CodingID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CADIncidentAck" nillable="true" type="tns:CADIncidentAck" />
  <xs:complexType name="ArrayOfTracking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tracking" nillable="true" type="tns:Tracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTracking" nillable="true" type="tns:ArrayOfTracking" />
  <xs:complexType name="Tracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Station" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Unit" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tracking" nillable="true" type="tns:Tracking" />
  <xs:complexType name="CADIncidentCodingStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AckFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AckNo" type="xs:int" />
      <xs:element minOccurs="0" name="AckStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AckTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AckTotal" type="xs:int" />
      <xs:element minOccurs="0" name="AckTracking" nillable="true" type="tns:Tracking" />
      <xs:element minOccurs="0" name="CodingID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CADIncidentCodingStatus" nillable="true" type="tns:CADIncidentCodingStatus" />
</xs:schema>