CallOut_Prototype/CallOut_Gateway/CallOut_Gateway/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="CallOut_CodingServiceLib" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallOut_CodingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_CallOut_CodingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="CallOut_CodingServiceLib" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_CallOut_CodingService" type="i0:CallOut_CodingService">
    <wsp:PolicyReference URI="#NetTcpBinding_CallOut_CodingService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetStationStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GetStationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStationStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/UpdateStationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedConsole">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GetConnectedConsole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingID">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GetCodingID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestID">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GetTestID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedConsoleNo">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GetConnectedConsoleNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatewayJoin">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GatewayJoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatewayLeave">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GatewayLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsoleJoin">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/ConsoleJoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsoleLeave">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/ConsoleLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TargetMsg">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/TargetMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AckCodingIncidentMsg">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/AckCodingIncidentMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestConnStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/RequestConnStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReplyConnStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/ReplyConnStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemovefromMsgQueue">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/RemovefromMsgQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MsgDisplayedResponse">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/MsgDisplayedResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsoleDisplayMsg">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/ConsoleDisplayMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditConnStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/EditConnStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyConsoleNotConnected">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/NotifyConsoleNotConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RcvCodingAckMsg">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/RcvCodingAckMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatewayRcvConnStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/GatewayRcvConnStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsoleRcvConnStatus">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/ConsoleRcvConnStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTargetTimeoutTimer">
      <soap12:operation soapAction="CallOut_CodingServiceLib/CallOut_CodingService/StartTargetTimeoutTimer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallOut_CodingService">
    <wsdl:port name="NetTcpBinding_CallOut_CodingService" binding="tns:NetTcpBinding_CallOut_CodingService">
      <soap12:address location="net.tcp://localhost:8000/CallOut_CodingService/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/CallOut_CodingService/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>