CallOut_CAD/CallOut_CAD/Service References/ServiceReference1/CallOut_CADServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CallOut_CADServiceLib" elementFormDefault="qualified" targetNamespace="CallOut_CADServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" />
  <xs:element name="CADJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CADJoinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CADLeave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CADLeaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayJoinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayLeave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GatewayLeaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCADIncidentMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="CADincidentmsg" nillable="true" type="q1:DispatchedIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AckCADIncidentMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="CADincidentack" nillable="true" type="q2:CADIncidentAck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastIncidentCodingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="incidentcodingstatus" nillable="true" type="q3:CADIncidentCodingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentCodingStatusQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="querycodingID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentCodingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="codingstatusresponse" nillable="true" type="q4:CADIncidentAck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentDispatched">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="incident" nillable="true" type="q5:DispatchedIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentDispatchedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RcvCADIncidentMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="CADincidentMsg" nillable="true" type="q6:DispatchedIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCADIncidentAck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="CADincidentack" nillable="true" type="q7:CADIncidentAck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIncidentCodingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="incidentcodingstatus" nillable="true" type="q8:CADIncidentCodingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentCodingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="querycodingID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RcvIncidentCodingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib.Class" minOccurs="0" name="codingstatusresponse" nillable="true" type="q9:CADIncidentAck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>